@mixin typography($size: $font-size-base) {
  @include fluid("font-size", nth($size, 1), nth($size, 2));
}

@mixin articleTitle() {
  @include typography($font-size-title);
  font-family: $font-type-heading;
  font-weight: $font-bold;
  text-align: center;
  display: block;

  @include bp-max-width($bp-medium) {
    @include typography($font-size-h1);
  }
}

@mixin articleSubtitle() {
  @include typography($font-size-h1);
  font-family: $font-type-heading;
  text-align: center;
  display: block;

  @include bp-max-width($bp-medium) {
    @include typography($font-size-h3);
  }
}

@mixin articleSubtitleDescription() {
  @include typography($font-size-base);
  font-family: $font-type-heading;
  text-align: center;
  display: block;

  @include bp-max-width($bp-medium) {
    @include typography($font-size-sm);
  }
}