// // Constant: Colors
$color: (
  "primary": #2F80ED,
  "primary-2": adjust-color(#2F80ED, $alpha: -0.1),
  "primary-light": adjust-color(#2F80ED, $alpha: -0.85),
  "black": #0A0A0B,
  "white": #ffffff,
  "gray-1": #333333,
  "gray-2": #4F4F4F,
  "gray-3": #828282,
  "gray-4": #BDBDBD,
);

$color-border-default: map-get($color, "gray-4");
$color-text-base-default: map-get($color, "gray-4");
$color-title-default: map-get($color, "white");
$color-header-default: $color-title-default;
$color-background-default: map-get($color, "white");