.errorBodyContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  img, .img-container {
    @include fluid(max-width, 20rem, 32rem);
  }

  .error-text {
    @include typography($font-size-big);
    color: map-get($color, "gray-2");
    font-weight: bold;
    text-align: center;
  }
}