.footerContent {
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  .footerIcon {
    @include fluid(width, 4.6rem);
    @include fluid(height, 4.6rem);
    @include box-shadow("button");
    border-radius: 50%;
    background-color: #fbfbfb;
    color: map-get($color, "primary");
    transition: $defaultTransition;

    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      color: map-get($color, "primary-2");
      background-color: map-get($color, "primary-light");
    }

    @include fluidmarginx(1rem, 1.5rem);
  }

  button, .button {
    @include typography($font-size-base);
    font-family: $font-type-base;
    border: none;
    outline: none;
    font-weight: bold;
    cursor: pointer;
  }
}