.postsFeedContainer {
  position: relative;
  z-index: 0;
  width: inherit;

  .postFeed {
    @include box-shadow();
    background-color: map-get($color, "white");
    transition: $defaultTransition;
    
    a {
      text-decoration: none !important;
      color: initial;
    }

    .postFeedBody {
      @include fluid(max-height, 24rem);
      width: 100%;
      @include boxsizing(map-get($bs, "5"));
      transition: $defaultTransition;
      overflow: hidden;
      word-wrap: break-word;

      &:hover {
        background-color: map-get($color, "primary-light");
      }

      .postBodyContent {
        @include fluid(max-width, 24rem);
      }
    }

    .postFeedFooter {
      @include boxsizing(map-get($bs, "5"));
      @include fluid(min-height, 2rem);
      text-align: right;

      .icons {
        color: map-get($color, "primary");

        &:hover {
          color: map-get($color, "primary-2");
        }
      }
    }
  }
}